* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f1f1f;
    padding: 10px 40px;
  }
  
  .nav-links {
    display: flex;
    gap: 30px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }
  body {
    margin: 0;
    background: #ffffff;
  }
  
  .navbar {
    padding: 20px;
    text-align: center;
  }
  
  .nav-links a {
    color: white;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  .logo-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 60px;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }
  .menu-container {
    display: flex;
    justify-content: center;
    padding: 40px;
  
  }
  
  .menu-link {
    position: relative;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin: 0 30px;
    transition: all 0.3s ease;
  }
  
  .menu-link:hover {
    color: #b6ffb0;
    text-shadow: 0 0 5px #b6ffb0, 0 0 10px #b6ffb0, 0 0 20px #b6ffb0;
  }
  
  .menu-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #b6ffb0;
    box-shadow: 0 0 5px #b6ffb0, 0 0 10px #b6ffb0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .menu-link:hover::after {
    opacity: 1;
  }
  
  .container {
    position: relative;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .o {
    width: 100%;
    display: block;
  }
  
  .t {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    z-index: 1;
  }
  
  .inter {
    margin-top: 50px;
    font-size: 72px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
  }
  
  .striped {
    font-size: 48px;
    font-weight: bold;
    color: white;
    background-image: repeating-linear-gradient(to bottom,
        white 0,
        white 2px,
        transparent 2px,
        transparent 4px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 50px;
  }
  
  .header {
    background-color: black;
  }
  
  .puzzle-cube {
    width: 500px;
  }
  
  .cube {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 130px;
  }
  
  .what {
    font-size: 72px;
    margin-bottom: 20px;
  }
  
  .read-more {
    margin-top: 20px;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
  }
  
  .read-more button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .global {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    gap: 70px;
    padding-bottom: 100px;
    padding-top: 100px
  }
  
  .who {
    font-size: 72px;
    margin-bottom: 20px;
  }
  
  .works {
    text-align: center;
    margin-top: 130px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .div-1, .div-2, .div-3, .div-4, .div-5, .div-6 {
    position: relative; 
  }
  
  .img-container {
    position: relative;
    width: 400px;
    margin-left: 50px;
  }
  
  .img-1 {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 1px rgb(206, 206, 206);
    border-radius: 10px;
    border: none;
    transition: opacity 0.3s ease; 
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.3s ease; 
  }
  
  .img-container:hover .text-overlay {
    opacity: 1; 
  }
  
  .img-container:hover .img-1 {
    opacity: 0.3; 
  }
  
  .more {
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    background-color: black;
    color: white;
  }
  
  
  .with-me {
    background-color: white;
    color: black;
    padding: 20px;
    border: none;
    border-radius: 15x;
  }
  
  .text-who {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .make {
    font-size: 72px;
    margin-bottom: 20px;
  }
  
  .kosmos {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    gap: 70px;
  }
  
  .text-kosmos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .with-me {
    margin-top: 30px;
    width: 130px;
    border: none;
    border-radius: 10px;
  }
  
  footer {
    background-color: black;
    color: white;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 40px;
  }
  .social-icons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .social-icons a {
    color: rgb(255, 255, 255);
    font-size: 32px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #a6a6a6; 
    transform: scale(1.2);
  }
  
  
  .text-cube h1,
  .text-cube p,
  .text-cube .read-more {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
  }
  
  .text-cube.visible h1,
  .text-cube.visible p,
  .text-cube.visible .read-more {
    opacity: 1;
    transform: translateY(0);
  }
  
  @media (max-width: 768px) {
    .menu-container {
      padding: 20px;
  }
  
  .menu-link {
      margin: 0 10px;
      font-size: 16px;
  }
  
  .logo-top-right {
      top: 10px;
      right: 10px;
      height: 50px;
  }
  
    .container {
      width: 90%;
      margin-top: 10px;
    }
  
    .t {
      width: 250px;
      top: 130px;
    }
  
    .inter {
      font-size: 36px;
      margin-top: 30px;
    }
  
    .striped {
      font-size: 24px;
    }
  
    .cube {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      margin-top: 80px;
    }
  
    .puzzle-cube {
      width: 90%;
    }
  
    .text-cube {
      padding: 0 20px;
      text-align: center;
    }
  
    .what {
      font-size: 36px;
    }
  
    .read-more {
      width: 100%;
      font-size: 16px;
    }
  
    .global {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 50px 20px;
    }
  
    .who {
      font-size: 36px;
    }
  
    .text-who {
      padding: 0 20px;
    }
  
    .works {
      margin-top: 80px;
    }
  
    .grid {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  
    .img-container {
      width: 90%;
      margin: 0 auto;
    }
  
    .text-overlay {
      font-size: 20px;
    }
  
    .more {
      width: 100%;
      font-size: 16px;
    }
  
    .kosmos {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 50px 20px;
    }
  
    .make {
      font-size: 36px;
    }
  
    .text-kosmos {
      padding: 0 20px;
    }
  
    .with-me {
      width: 100%;
      font-size: 16px;
    }
  
    footer {
      padding-top: 100px;
      text-align: center;
    }
  
    .social-icons {
      gap: 20px;
      flex-wrap: wrap;
    }
  
    .social-icons a {
      font-size: 28px;
    }
    footer h1 {
      font-size: 18px;
  }
  }
  @media screen and (max-width: 480px) {
    .menu-link {
        font-size: 14px;
        margin: 0 5px;
    }
  
    .logo-top-right {
        height: 40px;
    }
  }